.label {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.selectWrapper {
  width: 196px;
}

.selectWrapper :global(.custom__control) {
  background: var(--inputs);
  border-radius: 12px;
  padding: 2px;
  border: none;
  box-shadow: none;
  min-height: 44px;
  font-size: 16px;
  font-weight: 500;
  color: var(--main);
}

.selectWrapper :global(.custom__placeholder) {
  color: var(--main);
}

.selectWrapper :global(.custom__menu) {
  margin-top: 4px;
  border-radius: 12px;
  border: 1px solid var(--inputs);
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  background: var(--white);
  overflow: hidden;
  z-index: 999;
}

.selectWrapper :global(.custom__option) {
  margin-bottom: 8px;
  font-size: 16px;
  cursor: pointer;
}

.selectWrapper :global(.custom__option--is-focused),
.selectWrapper :global(.custom__option--is-selected) {
  color: var(--main);
  background-color: transparent;
}

.selectWrapper :global(.custom__single-value) {
  color: var(--main);
}

.selectWrapper :global(.custom__menu-list) {
  scrollbar-width: thin;
  scrollbar-color: var(--gray-light) transparent;
}
