.link {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 276px;
  height: 44px;
  background-color: var(--button);

  transition: background-color var(--transition);
  color: var(--white);
  &:hover,
  &:focus {
    background-color: var(--button-hover);
  }
}
